{% extends "layout.html" %}

{% block body %}

<!--Put everything in a container-->
<div class="container mt-4">

    <!--Adding goals-->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Goals</h3>
        </div>
        <div class="card-body">
            <form id="new_goal_form" method="POST" action="{% url 'tracker:new_goal' %}">
                {% csrf_token %}
                <div class="input-group mb-4">
                    <input type="text" name="description" class="form-control" placeholder="New goal" required>
                    <button class="btn btn-primary" type="submit">Add Goal</button>
                </div>
            </form>
            <!-- Current Goal checklist -->
            <div class="card-body">
                <ul class="list-group">
                    {% for goal in current_goals %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <input type="checkbox" class="form-check-input me-1" {% if goal.achieved %}checked{% endif %} data-goal-id="{{ goal.id }}">
                        <span contenteditable="true" class="goal_description" data-goal-id="{{ goal.id }}">{{ goal.description }}</span>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Update</button>
                    </li>
                    {% endfor %}
                </ul>  
            </div>
        </div>
    </div>
    

                    

    <!--Daily Water Intake-->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Daily Water Intake</h3>
        </div>
        <div class="card-body">
            <p>Total Intake Today: {{ daily_intake_ml }} ml </p>
        </div>
    </div>


    <!--Daily Emotion Logged for the day-->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Today's Emotion</h3>
        </div>
        <div class="card-body">
            {% if today_emotion %}
                <p>{{ today_emotion.emotion }}</p>
            {% else %}
                <p>No emotion logged today.</p>
            {% endif %}
        </div>
    </div>


    <!--Monthly Date Log Heatmap-->
    <div class="card mb-4">
        <div class="card-header">
            <h3>{{ current_month_name }}</h3> 
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap" id="heatmap">
                {% for entry in heatmap_data_list %}
                    <div class="p-2"></div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // editing and marking goals
    document.querySelector('form').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var goalId = this.getAttribute('data-goal-id');
            fetch("{% url 'edit_goal 0 %'}".replace("0", goalId), {
                method: "POST",
                headers: {
                    "X-Request-With": "XMLHttpRequest",
                    "X-CSRFToken": formData.get('csrfmiddlewaretoken')
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.description) {
                    this.querySelector('[name="desciption"]').value = data.description;
                    this.querySelector('[name="is_complete"]').checked = data.achieved;
                }
            })
            .catch(error => console.error('Error', error));
        });
     });
  });
</script>

{% endblock %}