{% extends "layout.html" %}

{% block body %}

<!--Put everything in a container-->
<div class="container mt-4">

    <!--Current Goal checklist-->
    <div class="card md-4">
        <div class="card-header">
           <h3>Current Goals</h3> 
        </div>
        <div class="card-body">
          <ul>
            {% for goal in current_goals %}
                <li clas="editable" data-goal-id="{{ goal.id }}">{{ goal.description }}</li>
            {% endfor %}
        </ul>  
        </div>
    </div>

    <!--Daily Water Intake-->


    <!--Daily Emotion Logged for the day-->


    <!--Monthly Date Log Heatmap-->



</div>
<script>
  
</script>

{% endblock %}