{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Fitness Tracker{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'fitness/styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar fixed-top bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href=""></a>

              <h2>Fitness Tracker</h2>
              <div>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>
                    <ul class="navbar-brand">
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'index' %}">Homepage</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'new_goal' %}">Add Goals</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'log_workout' %}">Log Workout</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'water_intake' %}">Log Water</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'mental_health' %}">Mental Health</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'mental_health_summary' %}">Past Mental Health Logs</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>

                {% else %}
                Not signed in.
                    <ul class="navbar-nav">
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                {% endif %}
                </ul>
             </div>
        </div>
    </nav>

        <div class="continaer mt-4">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>