{% extends "layout.html" %}

{% block body %}
    {% for workout in workouts %}
        <div>
            <h2>{{ workout.date }}</h2>
            <p>Exercise: {{ workout.exercise }}</p>
            <p>Duration: {{ workout.duration_minutes }} minutes</p>
            <p>Weight: {{ workout.weight_amount }} {{ workout.get_weight_unit_display }}</p>
            <br>
            <p>Activity: {{ workout.get_activity_type_display }}</p>
            <p>Distance: {{ workout.distance_miles }} {{ workout.get_distance_unit_display }}</p>
            <p>Calories Burned: {{ workout.calories_burned }}</p>
            <p>Notes: {{ workout.notes }}</p>
        </div>
        <a href="{% url 'edit_workout' workout_id %}">Edit Log</a>
        <form action="{% url 'delete_workout' workout.id %}" method="post" style="display: inline;"
            {% csrf_token %}
            <button type="submit">Delete Log</button>
        </form>
    {% empty %}
        <p>No logged workouts available.</p>
    {% endfor %}
{% endblock %}