{% extends "layout.html" %}

{% block body %}

<div class="container mt-4">
    <h1 class="text-center">{{ request.user.username }}'s Mental Health Summary</h1>

    <!-- emotions pie chart -->
    <div class="card mb-4">
        <div>
           <h2>Monthly Emotions</h2> 
        </div>
        <div class="card-body">
            <img src="data:image/png;base64,{{ emotion_chart }}" alt="Emotions Pie Chart" class="img-fluid">
        </div>
    </div>

    <!--Daily Gratitude logs-->
    <div class="card mb-4">
        <div class="card-header">
            <h2>Daily Gratitude Logs</h2>
        </div>
        <div class="card-body">
            <ul>
                {% for gratitude in daily_gratitudes %}
                    <li>{{ gratitude.date }}: {{ gratitude.daily_gratitude }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

     <!--Self-care habits-->
     <div class="card mb-4">
        <div class="card-header">
            <h2>Self-Care Habit Logs</h2>
        </div>
        <div class="card-body">
            <ul>
                {% for habit in self_care_habits %}
                    <li>{{ habit.date }}: {{ habit.self_care_habit }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- energy level graph -->
    <div class="card mb-4">
        <div class="card-header">
           <h2>Monthly Energy Levels</h2> 
        </div>
        <div class="card-body">
            <img src="data:image/png;base64,{{ energy_level_chart }}" alt="Energy Level Chart" class="img-fluid">
        </div>
    </div>


     <!--Rant section-->
     <div class="card mb-4">
        <div class="card-header">
            <h2>Rant Logs</h2>
        </div>
        <div class="card-body">
            <ul>
                {% for rant in rants %}
                    <li>{{ rant.date }}: {{ rant.rant }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>


{% endblock %}