{% extends "layout.html" %}

{% block body %}
<h1>{{ user.username }}'s Profile</h1>

<div class="container">
    <h2>Monthly Water Intake</h2>
    <div id="water-intake-chart-container">
        <!--Monthly graph-->
       <img scr="">
    </div>
</div>

<div class="container">
    <h2>Monthly Emotions</h2>
    <div id="mental-health-log-container">
        <!--Pie chart-->
        <img scr="data.image/png;base64,{{ emotion_chart }}" alt="Emotion Chart">
    </div>
</div>

<div class="container">
    <h2>Logged Mental Health</h2>
    {% for log in mental_health_log %}
    <div class="mental-health-log-container">
        <p>Date: {{ log.date }}</p>
        <p>Emotion: {{ emotion_form.as_p }}</p>
        <p>Self-Care Habit: {{ self_care_form.as_p }}</p>
        <p>Daily Graitude: {{ gratitude_form.as_p }}</p>

        <a href="{% url 'edit_mental_health_log' log.id %}" method="post">Edit</a>
        <form action="{% url 'delete_mental_health_log' log.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
</div>

<div class="container">
    <h2>Past Workouts</h2>
    {% if past_workout %}
        {% for workout in past_workouts %}
        <div class="card mb-3">
            <div class="card-header">
                {{ workout.date }}
            </div>
            <div>
                <p class="card-title">Exercise: {{ workout.exercise }}</p>
                <p class="card-text">Duration: {{ workout.duration_minutes }} minutes</p>
                {% if workout.calories_burned %}
                    <p class="card-text">Calories Burned: {{ workout.calories_burned }}</p>
                {% endif %}
                <a href="{% url 'tracker:edit_workout' workout.id %}">Edit</a>
                <form action="{% url 'tracker:delete_workout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No workouts logged.</p>
    {% endif %}
</div>

{% endblock %}