@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/static/tracker/background_image.jpg/");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background:  rgba( 39, 39, 39, 0.4)
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(regba(39, 39, 39, 1), transparent);
    z-index: 100;

}

.navbar-nav {
    flex-direction: column;
    list-style-type: none;
}


.nav-item {
    width: 100%;
}


.nav-link {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.nav-link:hover, .active {
    border-bottom: 2px solid #fff;

}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background:  rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}   

.btn:hover {
    background: rgba(255, 255, 255, 0.3)
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}
 .btn.white-button:hover {
    background: rgba(255, 255, 255, 0.5);
 }

 .nav-menu-btn {
    display: none;
 }

.navbar-brand {
    font-size: 24px;
    margin-right: auto;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.signed_in_as {
    margin-left: 500px;
    
}

.text-decoration-line-through {
    text-decoration: line-through;
}

/* heat map */
.p-2 { 
    width: 30px;
    height: 20px;
    background-color: rgba(167, 233, 235);
    margin: 1px;
}

